<launch>

    <param name="/use_sim_time" value="true"/>

    <!-- gzserver -->
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" output="screen"
          args="-u $(find computed_torque_controllers_example)/world/example_manipulator.world">
        <remap from="/example_manipulator" to="/" />
    </node>

    <!-- gzclient-->
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" />

    <!-- The robot description -->
    <param name="robot_description" command="xacro $(find computed_torque_controllers_example)/urdf/example_manipulator.urdf.xacro fixed_base_link:=true" />

    <!-- Controller parameters -->
    <rosparam>
        joint_state_controller:
            type: joint_state_controller/JointStateController
            publish_rate: 20
        position_joint_controller:
            type: computed_torque_controllers/PositionJointController
            joints:
                shoulder:
                    p: 200.
                    i: 0.
                    d: 30.
                elbow:
                    p: 200.
                    i: 0.
                    d: 30.
                wrist:
                    p: 200.
                    i: 0.
                    d: 30.
        velocity_joint_controller:
            type: computed_torque_controllers/VelocityJointController
            joints:
                shoulder:
                    p: 200.
                    i: 0.
                    d: 30.
                elbow:
                    p: 200.
                    i: 0.
                    d: 30.
                wrist:
                    p: 200.
                    i: 0.
                    d: 30.
        velocity_task_space_controller:
            type: computed_torque_controllers/VelocityTaskSpaceController
            joints:
                shoulder:
                    p: 200.
                    i: 0.
                    d: 30.
                elbow:
                    p: 200.
                    i: 0.
                    d: 30.
                wrist:
                    p: 200.
                    i: 0.
                    d: 30.
    </rosparam>

    <!-- Controller starter -->
    <node name="controller_spawner" pkg="controller_manager" type="controller_manager" output="screen"
          args="spawn joint_state_controller position_joint_controller" />
    <node name="controller_loader" pkg="controller_manager" type="controller_manager" output="screen"
          args="load velocity_joint_controller velocity_task_space_controller" />

</launch>