<launch>

    <param name="/use_sim_time" value="true"/>

    <!-- gzserver -->
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" output="screen"
          args="-u $(find computed_torque_controller_example)/world/example_manipulator.world">
        <remap from="/example_manipulator" to="/" />
    </node>

    <!-- gzclient-->
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" />

    <!-- The robot description -->
    <param name="robot_description" command="xacro $(find computed_torque_controller_example)/urdf/example_manipulator.urdf.xacro" />

    <!-- Controller parameters -->
    <rosparam>
        joint_state_controller:
            type: joint_state_controller/JointStateController
            publish_rate: 20
        computed_torque_controller:
            type: computed_torque_controller/ComputedTorqueController
            joints:
                shoulder:
                    p: 40.
                    d: 12.
                elbow:
                    p: 20.
                    d: 6.
                wrist:
                    p: 10.
                    d: 3.
    </rosparam>

    <!-- Controller starter -->
    <node name="controller_starter" pkg="controller_manager" type="controller_manager" output="screen"
          args="spawn joint_state_controller computed_torque_controller" />

</launch>